<div class="row w-100 p-0 m-0" style="flex-grow: 1">
    <div class="col-sm-3 p-0">
	<div class="h-50 pt-2 pl-2 w-100">
	    <div class="card border-primary h-100">
		<div class="card-body text-primary text-center" {% if context.files != None %}style="overflow-y: scroll; height:400px;"{% endif %}>
		    {% if context.files == None %}
		    <div class="container mt-5">
			<h2 class="text-center">Drag & Drop File Upload</h2>
			<div class="dropzone" id="dropzone">
			    Drag & drop files here or click to upload
			</div>
			<form action="/upload" id="uploadForm" method="post" enctype="multipart/form-data">
			    <input type="file" id="fileInput" name="file" multiple style="display: none;">
			    <button type="submit" class="btn btn-primary mt-3">Upload</button>
			</form>
		    </div>
		    <script>
			uploadFiles();
		    </script>
		    {% else %}
		    <ul class="list-group list-group-light">
			{% for image_path in context.files %}
			<li class="list-group-item border-0 rounded-4 list-group-item-info mb-2"><p class="h6 b-0 m-0">{{image_path}}</p></li>
			{% endfor %}
		    </ul>
		    {% endif %}
		</div>
	    </div>
	</div>

	<div class="h-50">
	    <div class="h-100 pt-2 pl-2 pb-2">
		<div class="card border-primary h-100">
		    <div class="card-body text-primary m-0 p-0">
			<div class="card-body text-primary text-center p-0 m-0">
			    <form id="runSolution" method="get" action="/run">
				<div class="card border-primary m-2">
				    <div class="card-body text-primary">
					<div class="form-check form-switch">
					    <input class="form-check-input" type="checkbox" role="switch" id="middleAOIswitch" name="middleAOIswitch" {% if context.checkboxes.middle_aoi %}checked{% endif %}>
					    <label class="form-check-label" for="middleAOIswitch">Middle AOI point</label>
					</div>
				    </div>
				</div>
				<div class="card border-primary m-2">
				    <div class="card-body text-primary">
					<div class="form-check form-switch">
					    <input class="form-check-input" type="checkbox" role="switch" id="boundingboxAOIswitch" name="boundingboxAOIswitch" {% if context.checkboxes.aoi_bounding_box %}checked{% endif %}>
					    <label class="form-check-label" for="boundingboxAOIswitch">AOI bounding box</label>
					</div>
				    </div>
				</div>
				<button type="submit" class="btn btn-primary">Run</button>
			    </form>
			</div>
		    </div>
		</div>
	    </div>

	    <!--
	    <div class="h-25 pt-2 pl-2 pb-2">
		<div class="card border-primary h-100">
		    <div class="card-body text-primary">
			<form class="d-flex align-items-start">
			    <div class="input-group mb-3">
				<input type="text" class="form-control" id="folderName" placeholder="myDataset">
				<div class="input-group-append">
				    <span class="input-group-text">.tar</span>
				</div>
				<div class="input-group-append">
				    <button type="submit" class="btn btn-primary">Save</button>
				</div>
			    </div>
			</form>
		    </div>
		</div>
	    </div>
	    -->
	</div>
    </div>

    <div class="col-sm-9 w-100 p-0 m-0">
	<div class="h-100 p-2 w-100 m-0 p-0">
	    <div class="card border-primary h-100 w-100 m-0 p-0">
		<div class="card-body text-primary h-100 w-100 p-0">
		    {% if context.processed_images != None %}

		    <div class="container mt-4">
			<div class="row ml-2 mr-2">
			    {% for image_path in context.processed_images %}
			    <div class="col-md-3 mb-4 p-2" style="background-color: #D6EAF8;">
				<div class="card">
				    <img class="card-img-top img-fluid" src="{{ url_for('static', filename=image_path) }}" alt="Processed Image">
				</div>
			    </div>
			    {% endfor %}
			</div>
		    </div>

		    {% else %}
		    {% endif %}
		</div>
	    </div>
	</div>
    </div>
</div>
